<h1>Edytuj zespół</h1>

<%= render "form", team: @team %>

<br>

<div>
  <%= link_to "Pokaż ten zespół", @team, class: "btn btn-secondary" %> 
  <%= link_to "Powrót do listy meczy", teams_path, class: "btn btn-secondary" %>
</div>
