<p style="color: green"><%= notice %></p>

<h1>Bets</h1>

<div id="bets">
  <% @bets.each do |bet| %>
    <%= render bet %>
    <p>
      <%= link_to "Show this bet", [@game, bet] %>
    </p>
  <% end %>
</div>

<%= link_to "New bet", new_game_bet_path(@game) %>
