<h1>Editing game</h1>

<%= render "form", game: @game %>

<br>

<div>
  <%= link_to "Show this game", @game, class: "btn btn-secondary" %> |
  <%= link_to "Back to games", games_path, class: "btn btn-secondary" %>
</div>
