<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Typowanie NBA</title>
</head>
<body>
  <header>
    <h1>Liga Typerów Meczy NBA</h1>
    <p>Witaj w Lidze Typerów Meczy NBA, gdzie pasjonaci koszykówki mogą rywalizować ze sobą poprzez typowanie meczy NBA. Przekonaj się, jak dobrze potrafisz przewidywać wyniki i zgarnij punkty za trafione typy!</p>
  </header>

  <main>
    <section>
      <h2>Jak to działa?</h2>
      <p>Aby wziąć udział w Lidze Typerów Meczy NBA, zarejestruj się na naszej stronie. Po rejestracji będziesz mógł(a) typować wyniki wybranych meczy NBA. Po zakończeniu meczu, punkty zostaną przyznane na podstawie różnicy między Twoim typem a rzeczywistym wynikiem.</p>
    </section>

    <section>
      <h2>Ranking</h2>
      <p>Sprawdź, jak radzisz sobie w porównaniu z innymi uczestnikami w naszym rankingu. Punkty zdobyte podczas typowania meczów sumują się, co pozwoli Ci śledzić swoje postępy i pozycję w lidze.</p>
    </section>

    <section>
      <h2>Zapraszamy do rywalizacji!</h2>
      <p>Dołącz do naszej Ligi Typerów Meczy NBA już dziś i poczuj emocje związane z przewidywaniem wyników meczów! Wyzwij znajomych, śledź wyniki, zdobywaj punkty i baw się wspaniale!</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Typowanie NBA | Wszelkie prawa zastrzeżone.</p>
  </footer>
</body>
</html>